@media (min-width: 768px) {
  /* this only works for element without 'container' class */
  /* Not used */
  /*body>footer, body>header, body>main {
    max-width: 768px;
  }*/

  /* Probably, a page can define its width itself */
  body > main.container {
    max-width: 768px;
  }

  body > nav.container {
    max-width: 950px;
  }
}

a[role=button] {
  display: block;
  margin-bottom: var(--pico-spacing);
}

.center {
  display: flex;
  justify-content: center;
}

/* Show image even if any table cell has width of 100% */
td img {
  max-width: initial;
}

td { 
  border-bottom: 0;
}

/* Decrease enormous top padding */
article:has(nav) {
  padding: 9.5px var(--pico-block-spacing-horizontal)
}

ul li {
  list-style: none;
}

/* Decrease enormous top padding */
body > footer, body > header, body > main {
  padding: calc(var(--pico-block-spacing-vertical) / 2) 0;
}

/* Receive Page styles */
td h1 {
  margin-bottom: 10px;
}