@media (min-width: 768px) {
  /* this only works for element without 'container' class */
  /* Not used */
  /*body>footer, body>header, body>main {
    max-width: 768px;
  }*/

  /* Probably, a page can define its width itself */
  body > main.container {
    max-width: 768px;
  }

  body > nav.container {
    max-width: 950px;
  }
}

a[role=button] {
  display: block;
  margin-bottom: var(--pico-spacing);
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

/* Show image even if any table cell has width of 100% */
td img {
  max-width: initial;
  margin-bottom: 40px; /* align with text in other columns */
}

td:has(img) {
  padding-right: 0;
  width: 36px;
}

td { 
  border-bottom: 0;
}

/* Decrease enormous top padding */
article:has(nav) {
  padding: 9.5px var(--pico-block-spacing-horizontal)
}

ul li {
  list-style: none;
}

/* Decrease enormous top padding */
body > footer, body > header, body > main {
  padding: calc(var(--pico-block-spacing-vertical) / 2) 0;
}

/* Send Page styles */
[role=group] {
  width: 100%;
}

.address-dropdown {
  a {
    --pico-color: #373c44;
  }

  [role=group] {
    width: calc(100% - 1.5rem)
  }

  [role=group] > :first-child {
    width: 100%;
  }
}

/* Notifications */
p.error {
  color: var(--pico-del-color);

}
/* 
p.success {

} */

/* Remove spinners for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* no text wrap in last column when some column has 100% width */
.grid > * {
  min-width: auto;
}